<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Admin Dashboard</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/PendingReg" class="nav-item nav-link active">Pending Registration</a>
                    <a href="/Category" class="nav-item nav-link active" tabindex="-1">Category</a>
                    <a href="/Question" class="nav-item nav-link active" tabindex="-1">Questions</a>
                    <a href="Show_All_Questions" class="nav-item nav-link active" tabindex="-1"> Show_All_Questions</a>
                </div>
            </div>
        </div>
    </nav>