<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">e-Exam</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="Home" class="nav-item nav-link active">Home</a>
                   
                    <div class="nav-item dropdown">
                        <a href="Student" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Student</a>
                        <div class="dropdown-menu">
                            <a href="Register" class="dropdown-item">Register</a>
                            <a href="Signin" class="dropdown-item">Signin</a>
        
                        </div>
                    </div>
                    <a href="admin" class="nav-item nav-link active" tabindex="-1">Admin</a>
                </div>
               
            </div>
        </div>
    </nav>