<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">Student Dashboard (<%=uname%>)</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/Exam" class="nav-item nav-link active" tabindex="-1">Exams</a>
                    <a href="/Result" class="nav-item nav-link active" tabindex="-1">Result</a>
                    <a href="/Review" class="nav-item nav-link active" tabindex="-1">Review</a>
                </div>
                <div class="nav-item ms-auto">
                    <a href="/Logout" class="nav-item nav-link active" tabindex="-1">Logout</a>
                </div>
                
            </div>
        </div>
    </nav>